<!--
-------------------------------------------------------------
	Author:	jcasoft	- Juan Carlos Argueta
	Web Chat Client for Mycroft

	to do:
		reload or refresh
		mic_on
		mic_off
		mute
		vol_up
		vol_down
		backward
		forward
		play
		pause

-------------------------------------------------------------
-->

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Mycroft Web Chat Client</title>
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="cleartype" content="on">

    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/todc-bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/app.css">
    <link rel="stylesheet" href="/static/css/font-awesome.css">


    <script type="text/javascript">
        function detectmob() {
            if (typeof window.orientation !== 'undefined') {
                return true;
            }
            return false;
        }
    </script>
</head>

<body>

    <div class="mycroft">
      <nav class="navbar navbar-masthead navbar-inverse navbar-fixed-top">
          <div class="navbar-header">
            <a class="navbar-brand" href="#"><img src="/static/img/Logo2.png" alt="Mycroft Logo">
            </a>
          </div>

	  <ul class="nav nav-pills navbar-right">
		<li class="active"><a href="#" id="mic_on"><i class="fa fa-microphone"></i></a></li>
		<li class="active"><a href="#" id="mute_volume"><i class="fa fa-volume-off"></i></a></li>
		<li class="active"><a href="#" id="increase_volume"><i class="fa fa-volume-up"></i></a></li>
		<li class="active"><a href="#" id="reduce_volume"><i class="fa fa-volume-down"></i></a></li>
		<li class="active"><a href="#" id="previous_track"><i class="fa fa-backward"></i></a></li>
		<li class="active"><a href="#" id="next_track"><i class="fa fa-forward"></i></a></li>
		<li class="active"><a href="#" id="play"><i class="fa fa-play"></i></a></li>
		<li class="active"><a href="#" id="pause"><i class="fa fa-pause"></i></a></li>
		<li class="active"><a href="#" id="stop" style="margin-right:25px;"><i class="fa fa-stop"></i></a></li>
	  </ul>

      </nav>
    </div>



    <div class="container">
        <div class="right">
            <div class="chat" data-chat="person2">
            </div>
            <div style="display: none;" id="writer" class="write" >
		<div class="row">
		    <div class="form-group" >
			<div class="col-xs-11">
				<input type="text" name="body" id="textbox" class="form-control"/>
			</div>
			<div class="col-xs-1">
				<button type="submit" id="textbox_submit" class="btn btn-primary pull-right btn-lg RbtnMargin">Send&nbsp;<i class="fa fa-volume-up"></i></button>
			</div>
		    </div>
		</div>
            </div>
        </div>
    </div>


    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/app.js"></script>
    <script type="application/javascript">set_ip("{{ip}}");</script>
    <script type="application/javascript">set_port("{{port}}");</script>
    <script type="text/javascript">
        document.getElementById('writer').style.display = 'block';
    </script>

</body>

</html>
